/* # = id */
/* . = class */
@font-face {
   font-family: 'SciFi'; /* Name your font family */
   src: url('../font/CrimsonDestroyer3DItalic-pgw1K.ttf'); /* Locate the .ttf file within your directory*/
 }

 @font-face {
   font-family: 'SciFi2'; /* Name your font family */
   src: url('../font/CrimsonDestroyerGradient-JpG7a.ttf'); /* Locate the .ttf file within your directory*/
 }

 @font-face {
   font-family: 'SciFi3'; /* Name your font family */
   src: url('../font/CrimsonDestroyerExpanded-q2Yz2.ttf'); /* Locate the .ttf file within your directory*/
 }

a, h1, h2 {
   font-family: SciFi3, sans-serif;
   color: rgba(0,255,255,0.5);
}

div {
   color: aqua;
}

#title {
   font-family: SciFi3, sans-serif;
   color: rgba(0,255,255,0.5);
   font-size: 70px;
   margin: 0;
   padding: 40px 20px;
   text-align: center;
}

.main-logo {
   height: 150px;
}

.wrapper {
   display: grid;
   grid-template-columns: repeat(6, 1fr);
   grid-auto-rows: minmax(100px, auto);
   gap: 10px;
   margin: 20px 80px;
}

.subsection-footer {
   text-align:center;
   bottom: 5px;
   margin: 0;
   width: 100%;
}

#char-meta {
   border-color: rgba(0,255,255,0.5);
   border-style: solid;
   color: aqua;
   grid-column: 1 / 4;
}

   #char-meta-inner {
      display: flex;
      flex-direction: row;
      gap: 10px;
      margin: 5px;
      font-size: x-large;
   }

   .char-data {
      padding: 10px;
   }

   .char-meta-text {
      padding-bottom: 5px;
   }

#char-istics {
   border-color: rgba(0,255,255,0.5);
   border-style: solid;
   color: aqua;
   grid-column: 4 / 7;
   position: relative;
}

   #char-table {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr 1fr;
      height: 90%;
   }

   .ability-name {
      text-transform: uppercase;
   }

   .char-value {
      padding-right: 10px;
   }

   .char-elemet {
      padding-top:10%;
      text-align: center;
   }

   .char-adjust {
      display: flex;
      justify-content: space-around;
   }

#char-skills {
   grid-column: 1 / 7;
   grid-row: 2 / 6;
   border-color: rgba(0,255,255,0.5);
   border-style: solid;
   color: aqua;
   position: relative;
   height: 600px;
   display: grid;
   grid-template-rows: 1fr 8fr 1fr;
}

#char-skills-table {
   color: aqua;
   position: relative;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   height: 550px;
}

   #jack-trades {
      border-color: rgba(0,255,255,0.5);
      border-bottom: solid 1px;
   }

   .skill {
      padding: 5px;
      height: 13px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      text-indent: 5px;
   }

   .skill-name {
      text-indent: 5px;
   }

   .skill-value {
      padding-left: 30px;
   }

#char-weapons {
   border-color: rgba(0,255,255,0.5);
   border-style: solid;
   color: aqua;
   grid-column: 1 / 4;
   position: relative;
   display: flex;
   flex-direction: column;
}

table {
   border-collapse: collapse;
   font-size: 0.8rem;
   letter-spacing: 1px;
 }
 td {
   min-width: 50px;
   text-align: center;
 }

#char-armor {
   border-color: rgba(0,255,255,0.5);
   border-style: solid;
   color: aqua;
   grid-column: 4 / 7;
}

#char-augments {
   border-color: rgba(0,255,255,0.5);
   border-style: solid;
   color: aqua;
   grid-column: 1 / 3;
}

#char-advancement {
   border-color: rgba(0,255,255,0.5);
   border-style: solid;
   color: aqua;
   grid-column: 3 / 5;
}

#char-network {
   border-color: rgba(0,255,255,0.5);
   border-style: solid;
   color: aqua;
   grid-column: 5 / 7;
}

#char-background {
   border-color: rgba(0,255,255,0.5);
   border-style: solid;
   color: aqua;
   grid-column: 1 / 7;
   grid-row: 9 / 13;
}

#char-other {
   border-color: rgba(0,255,255,0.5);
   border-style: solid;
   color: aqua;
   grid-column: 1 / 7;
}